.header{
  text-align: center;
  background-color: rgb(209, 212, 253);
  margin: 40px;
  padding: 50px;
}
body{
  background-color: rgb(162, 145, 189);
}
h1{
  text-align: center;
  font-size: 400px;
  font-family: sans-serif;
  color: azure;
}