body{
  background-color: rgb(120, 122, 119);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar {
  width: 300px;
  float: left;
  color:whitesmoke;
  background-color: rgb(39, 48, 45);
  margin: 40px;
  padding: 40px;
  line-height: 50px;
  font-size: 20px;
}
a{
  color: white;
  font-size: 24px;
}
.head{
  text-align: center;
  padding: 20px;
  margin: 40px;
  font-size: 60px;
  background-color: rgb(39, 48, 45);
  color: white
}
.column{
  float: left;
  width: 35%;
  background-color: rgb(39, 48, 45);
  padding: 20px;
  margin: 40px;
  font-size: 18px;
}
.images{
  float: left;
  width: 25%;
  background-color: rgb(39, 48, 45);
  padding: 20px;
  margin: 40px;
  font-size: 20px;
}
img{
  max-width: 150px;
  height: auto;
  padding: 20px;
  margin-left: 30px;
}